In [1]:
import pymysql
import pandas as pd
import mods_sql

_db = mods_sql.Database()
sql = """SELECT * FROM 
AK홀딩스_006840"""

result = _db.executeAll(sql)
akh=pd.DataFrame(result)
akh.head()

                 date   open   high    low  close  volume
0 2021-04-01 09:00:00  26800  26950  26800  26900     483
1 2021-04-01 09:01:00  26950  27000  26900  27000     534
2 2021-04-01 09:02:00  27050  27200  27050  27200     162
3 2021-04-01 09:03:00  27100  27150  27050  27150     232
4 2021-04-01 09:04:00  27100  27100  27000  27050      65