In [1]:
import pymysql
import pandas as pd
import mods_sql

_db = mods_sql.Database()
sql = """SELECT * FROM 
진에어_272450"""

result= _db.executeAll(sql)
jin=pd.DataFrame(result)
jin.head()

                 date   open   high    low  close  volume
0 2021-04-01 09:00:00  19749  19749  19555  19700    1221
1 2021-04-01 09:01:00  19700  19700  19507  19555    2954
2 2021-04-01 09:02:00  19555  19797  19507  19652    1877
3 2021-04-01 09:03:00  19652  19652  19459  19604    4241
4 2021-04-01 09:04:00  19604  19604  19507  19507      65