In [1]:
import pymysql
import pandas as pd
import mods_sql

_db = mods_sql.Database()
sql = """SELECT * FROM 
티웨이홀딩스_004870"""

result = _db.executeAll(sql)
twayH=pd.DataFrame(result)
twayH.head()

                 date  open  high   low  close  volume
0 2021-04-01 09:00:00  1281  1300  1281   1281    3738
1 2021-04-01 09:01:00  1281  1281  1281   1281       1
2 2021-04-01 09:04:00  1281  1281  1281   1281     199
3 2021-04-01 09:06:00  1281  1281  1281   1281    1224
4 2021-04-01 09:07:00  1277  1277  1277   1277    1081